<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stupid Simple Tools</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Stupid Simple Tools</h1>
        <div class="row">
            <% tools.forEach(tool => { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="fa <%= tool.faIcon %> fa-3x"></i>
                            <h5 class="card-title"><%= tool.title %></h5>
                            <p class="card-text"><%= tool.description %></p>
                            <a href="/tools/<%= tool.name %>" class="btn btn-primary">Open Tool</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
